@model PersonelTayin.ViewsModels.IndexViewModel;

@{
    ViewData["Title"] = "Personel ve Başvuru Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="~/css/dashboard.css" rel="stylesheet" />
<link href="~/css/index.css" rel="stylesheet" />
<link href="~/css/account.css" rel="stylesheet" />

    

<div class="container-fluid p-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <a href="/" class="logo">Personel Tayin Sistemi</a>
        <nav class="navbar">
            <a href="/Account/Login">Oturumu Kapat</a>
        </nav>
    </div>




<div class="container-fluid ">

    <div class="row">
        
        <div class="col-md-6 mb-4">
            <div class="card transparent-card p-3">
                <h5 class="card-title mb-3">Adliye Personelleri</h5>
                <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                    <table class="table table-hover table-bordered mb-0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Ad Soyad</th>
                                <th>Unvan</th>
                                <th>Sicil</th>
                                <th>Çalıştığı Adliye</th>
                                <th>Çalıştığı Birim</th>
                                <th>Başlama</th>
                                <th>Email</th>
                                <th>Doğum Yeri</th>
                                <th>Doğum Tarihi</th>
                                <th>Cinsiyet</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Personeller)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.FullName</td>
                                    <td>@item.Unvan</td>
                                    <td>@item.UserName</td>
                                    <td>@item.CalistigiAdliye</td>
                                    <td>@item.CalistigiBirim</td>
                                    <td>@item.IseBaslamaTarihi</td>
                                    <td>@item.Email</td>
                                    <td>@item.DogumYeri</td>
                                    <td>@item.DogumTarihi</td>
                                    <td>@item.Cinsiyet</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        
        <div class="col-md-6 mb-4">
            <div class="card transparent-card p-3 h-100">
                <h5 class="card-title mb-3">Tayin Başvuruları</h5>
                <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                    <table class="table table-bordered table-hover mb-0">
                        <thead>
                            <tr>
                                <th>İsim</th>
                                <th>Unvan</th>
                                <th>Sicil</th>
                                <th>Gorev Yeri</th>
                                <th>Talep Yeri</th>
                                <th>Tayin Türü</th>
                                <th>Açıklama</th>
                                <th>Başvuru Tarihi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var b in Model.BasvuruYapanlar)
                            {
                                <tr>
                                    <td>@b.UserAccount?.FullName</td>
                                    <td>@b.UserAccount?.Unvan</td>
                                    <td>@b.UserAccount?.UserName</td>
                                    <td>@b.UserAccount?.CalistigiAdliye</td>
                                    <td>@b.AdliyeAdi?.AdliyeAdi</td>
                                    <td>@b.BasvuruTuru</td>
                                    <td>@b.Aciklama</td>
                                    <td>@b.BasvuruTarihi.ToString("dd.MM.yyyy")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
 